<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="about.css">
  <title></title>
</head>

<body>
    <div class="nav">
    <h1 class="logo">Layona-x</h1>
   <div class="nav-data">
      <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
          <li><a href="/contact">Contact</a></li>
   </div>
  </div>
  <br>
  <br>
  <div class="title">
     <img src="https://media.discordapp.net/attachments/964767093121757186/1000586350350831758/16586287135557697730440312383936.gif">
     <strong><p>Layona-x</p></strong>
     <h6>Merhaba Ben 14 Yaşında Web Geliştirme Üzerine Uğraşan Bir Öğrenciyim</h6>
     </div>
    <hr>
    <br>
    <br>
    <div class="description">
      <h1>Layona-X</h1>
      <p>İsim:<strong>Orhan</strong></p>
        <p>Yaş:<strong>14</strong></p>
        
    <p>Hobilerim:<strong>Anime İzlemek, Manga Okumak,Film İzlemek</strong></p>
      <p>İlgilendiğim Diller:<strong>JavaScript,Html,Css,Pyhton,Java</strong>
        <p>İlgilendiğim FreamWorklar:<strong>Angular.js,Vue.js</strong></p>
    </div>
            <div class="section-header">
            <h1>Kodlama Bilgilerim</h1>
            <hr>
        </div>

        <div class="progress">
            <span>HTML</span>
            <div class="progress-bar" data-percent="85">
                85%
            </div>
        </div>

        <div class="progress">
            <span>CSS</span>
            <div class="progress-bar" data-percent="70">
                70%
            </div>
        </div>

        <div class="progress">
            <span>JavaScript</span>
            <div class="progress-bar" data-percent="60">
                65%
            </div>
        </div>
         <div class="progress">
            <span>Pyhton</span>
            <div class="progress-bar" data-percent="25">
                25%
            </div>
        </div>
             <div class="progress">
            <span>Vue.js</span>
            <div class="progress-bar" data-percent="40">
                40%
            </div>
        </div>
    </section>
    <<script src="about.js">about.js</script>
</body>

</html>
